<footer id="footer-main" style="background-color: rgb(15, 236, 111)">
    <div class="container">
        <div class="row">
             <div class="col-sm-5">
                <h5>Direccion</h5>
                <p class="">Armenia-Quindio</p>
                    
            </div>                                        
            <div class="col-sm-5">
                <ul class="list-unstyled">
                    <h5>Mas informacion</h5>
                    <li class="fab fa-facebook " ><a href="" id="redes"> facebook</a></li>
                    <br>
                    <li class="fab fa-twitter-square "><a href=""  id="redes"> twitter</a></li>
                    <br>
                    <li class="fab fa-youtube-square " ><a href="" id="redes"> youtube</a></li>
                    <br>
                    <li class="fab fa-instagram "><a href="" id="redes"> Instagram</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Contactenos</h5>
                <p>transportes@gmail.com</p>
                <p>3126657533</p>
            </div>
        </div>
    </div>
</footer> 
